{% extends "base_templates.html" %}


{%block title%}
create book
{%endblock%}


{%block main-content%}
<h2>create book</h2>
<form method="post" action="{% url 'book:create' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">name</label>
      <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">author</label>
      <input type="text" class="form-control" name="author" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">description</label>
        <input type="text" class="form-control" name="description" id="exampleInputPassword1">
      </div>

      

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{%endblock%}